// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl';

.green-text {
  color: rgb(51, 255, 0);
}

.orange-text {
  color: rgb(255, 204, 0);
}

.bg-blue {
  background-color: blue;
}

.blue-text {
  color: #4267b2;
}

.cyan-text {
  color: cyan;
}

.red-text {
  color: #f06449;
}

.white-text {
  color: white;
}

.lightblue-text {
  color: lightblue;
}

.small {
  font-size: 13px;
  color: #fff;
  font-weight: 100;
}

//  END GLOBAL
.application--wrap {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#myCanvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

.terminalFrame {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-height: 100vh;
  max-width: 100%;

  @media (min-width: 800px) {
    max-width: 800px;
    max-height: 500px !important;
    min-height: 500px;
  }

  .frame {
    width: 100%;
    height: 22px;
    background: #3b3b3b;
    border-radius: 5px 5px 0 0;
    color: #ccc;
    font-size: 11pt;
    line-height: 20px;

    span {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      text-align: center;
      margin: auto;
    }

    .buttons {
      line-height: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 47px;
      min-height: 21px;
      margin-left: 8px;
    }

    .close {
      background: #ff5c5c;
      font-size: 9pt;
      width: 11px;
      height: 11px;
      border: 1px solid #e33e41;
      border-radius: 50%;
    }

    .minimize {
      background: #ffbd4c;
      font-size: 9pt;
      line-height: 11px;
      width: 11px;
      height: 11px;
      border: 1px solid #e09e3e;
      border-radius: 50%;
    }

    .zoom {
      background: #00ca56;
      font-size: 9pt;
      line-height: 11px;
      width: 11px;
      height: 11px;
      border: 1px solid #14ae46;
      border-radius: 50%;
    }
  }
}

#clock {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: #00000063;
  padding: 20px;
  display: none;

  @media (min-width: 800px) {
    display: block;
  }

  p {
    margin: 0;
  }
}

#terminal {
  border-radius: 0 0 5px 5px;
  webkit-box-shadow: 1px 1px 15px 3px rgba(23, 28, 18, 0.94);
  -moz-box-shadow: 1px 1px 15px 3px rgba(23, 28, 18, 0.94);
  box-shadow: 1px 1px 15px 3px rgba(23, 28, 18, 0.94);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #3c3c3c;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;

  a {
    &:hover {
      background: #1976d2;
      color: #fff;
    }
  }
}

.fallout {
  background: rgba(23, 28, 18, 0.94);

  /* All the single browsers */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAE0lEQVQIHWP4//8/AxMDFMiDWQA2wAMhzy0v7QAAAABJRU5ErkJggg=="), -moz-radial-gradient(center, ellipse cover, rgba(23, 28, 18, 0.94) 0%, rgba(23, 28, 18, 0.94) 100%) no-repeat;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAE0lEQVQIHWP4//8/AxMDFMiDWQA2wAMhzy0v7QAAAABJRU5ErkJggg=="), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(23, 28, 18, 0.94)), color-stop(100%, rgba(23, 28, 18, 0.94)));
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAE0lEQVQIHWP4//8/AxMDFMiDWQA2wAMhzy0v7QAAAABJRU5ErkJggg=="), -webkit-radial-gradient(center, ellipse cover, rgba(23, 28, 18, 0.94) 0%, rgba(23, 28, 18, 0.94) 100%) no-repeat;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAE0lEQVQIHWP4//8/AxMDFMiDWQA2wAMhzy0v7QAAAABJRU5ErkJggg=="), -o-radial-gradient(center, ellipse cover, rgba(23, 28, 18, 0.94) 0%, rgba(23, 28, 18, 0.94) 100%) no-repeat;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAE0lEQVQIHWP4//8/AxMDFMiDWQA2wAMhzy0v7QAAAABJRU5ErkJggg=="), -ms-radial-gradient(center, ellipse cover, rgba(23, 28, 18, 0.94) 0%, rgba(23, 28, 18, 0.94) 100%) no-repeat;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAE0lEQVQIHWP4//8/AxMDFMiDWQA2wAMhzy0v7QAAAABJRU5ErkJggg=="), radial-gradient(ellipse at center, rgba(23, 28, 18, 0.94) 0%, rgba(23, 28, 18, 0.94) 100%) no-repeat;

  .content {
    padding: 15px 15px 0;
  }

  .prompt {
    padding: 0 15px 15px;
  }

  .content,
  .prompt,
  .prompt .input,
  .prompt .input::before {
    color: transparent;
    text-shadow: 0 0 0 #ddd;

    /* Hack to hide the real caret */
    font-weight: 400;
    font-size: 12px;

    @media (min-width: 800px) {
      font-size: 16px;
    }

    line-height: 24px;
    font-family: VT323, monospace, "Lucida Console", Monaco;
    letter-spacing: 1px;
  }

  .prompt .input.show-caret {
    opacity: 0.85;
    caret-color: transparent;
    color: transparent;
    text-shadow: 0 0 0 #ddd;
  }

  .prompt .input::after {
    font-size: 24px;

    @media (min-width: 800px) {
      font-size: 32px;
    }

    position: relative;
    top: 2px;
  }

  .loading::after {
    content: "âš™";
    color: #ddd;
    font-size: 10em;
    border-radius: 10em;
    opacity: 0.4;
  }

  .content ul {
    margin: 0;
  }

  .content ul li {
    list-style-type: none;
  }
}

#message {
  visibility: hidden;
}

.loading-dots {
  z-index: 5;

  .dot {
    display: inline;
    opacity: 0;
    animation: showHideDot 1.5s ease-in-out infinite;

    &.one {
      animation-delay: 0.2s;
    }

    &.two {
      animation-delay: 0.4s;
    }

    &.three {
      animation-delay: 0.6s;
    }
  }
}

@keyframes showHideDot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

////////////////// Hide loading after 3s
.loading-dots {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  position: relative;
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
}

@keyframes seconds {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
}
